<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="text-align: center; background-color: #222222; color: white">
  <h1 style="color: red">LOGIN PAGE</h1>
  <form action="login" method="post" >
    <table style="display: flex; justify-content: center;">
      <tr>
        <td>Username:</td>
        <td><input type="text"  name="username" /></td>

      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password" /></td>

      </tr>
    </table>
    <button type="submit" style="margin-top: 15px; background-color: transparent; border-color: red; color: red; padding: 10px">Submit</button>
  </form>

</body>
</html>